<div class="d-flex flex-row" id="new-listing-form">
  <div class="create-form mt-4">
    <div class="create-form-header mb-5">
      <h3>edit listing</h3>
    </div>
    <%= simple_form_for @listing do |f| %>
      <%= f.input :address, label: "address", input_html: { class:"form-input" } %>
      <%= f.input :price, label: "rent (per month)", input_html: { class:"form-input" } %>
      <%= f.input :area_size, label: "living space (in sqm)", input_html: { class:"form-input" } %>
      <%= f.input :property_type, collection: ["apartment", "penthouse", "house", "other"], label: "property type", input_html: { class:"form-input" } %>
      <%= f.input :bedrooms, collection: ["1", "2", "3", "4", "5"], label: "bedrooms", input_html: { class:"form-input" } %>
      <%= f.input :bathrooms, collection: ["1", "2", "3", "4", "5", "more than 5"], label: "bathrooms", input_html: { class:"form-input" } %>
      <%= f.input :floor, collection: ["1", "2", "3", "4", "5"], label: "floor", input_html: { class:"form-input" } %>
      <%= f.input :balcony, collection: ["0", "1", "2", "3","4", "5"], label: "balcony", input_html: { class:"form-input" } %>
      <%= f.input :garden, label: "garden", input_html: { class:"form-input" } %>
      <%= f.input :parking, label: "parking", input_html: { class:"form-input" } %>
      <%= f.input :lift, label: "lift", input_html: { class:"form-input" } %>
      <%= f.input :furnished, label: "furnished", input_html: { class:"form-input" } %>
      <%= f.input :pets, label: "pets allowed", input_html: { class:"form-input" } %>
      <%= f.input :description, label: "description", input_html: { class:"form-input", :rows => 5 } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "update listing", class: "button-primary d-flex justify-content-center w-100"%>
    <% end %>
  </div>
</div>
  <%= link_to "delete", listings_path, class: "button-secondary d-flex justify-content-center" %>
