
<div>
  <% @listings.each do |listing| %>
    <div class="swipe_card mb-5">




      <div class="swipe_card_image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url(<%= listing.photos %>); display: flex; align-items: end">
        <div class="swipe_card_header ms-3">
          <h2><%= "#{listing.address[0, 10]}..."  %></h2>
        </div>
      </div>
      <div class="swipe_card_description mt-4 ms-3">
          <p><%= listing.bedrooms %> bedrooms</p>
          <p><%= listing.bathrooms %> bathroom</p>
          <p><%= listing.area_size %> m2</p>
        </div>
    </div>



  <% end %>
</div>
