<div data-controller="swipe">
  <div class="profiles">
    <% @listings.each do |listing| %>
      <div class="profile">
        <div class="swipe_card mb-5">
          <div class="swipe_card_image"
               style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)),
                        url(https://source.unsplash.com/random/?interior/<%= "#{rand(5..80)}" %>);
                      display: flex; align-items: end">
            <div class="swipe_card_header ms-3">
              <h2><%= "#{listing.address.split(",")[1].split(" ")[1]}" %></h2>
              <h2 class="listing-price">€ <%= listing.price.to_s.gsub(/\B(?=(...)*\b)/, ' ') %></h2>
            </div>
          </div>
          <div class="swipe_card_description mt-4 ms-3">

            <div class="d-flex flex-row mt-4">
              <ul class="d-flex flex-column col-6" style="list-style: none; margin: 0px; padding: 0px">
                <li><p><i class="fa-solid fa-square me-4"></i><%="#{listing.area_size} sqm"%></p></li>
                <li><p><i class="fa-solid fa-bed me-4"></i><%="#{listing.bedrooms}"%></p></li>
                <li><p><i class="fa-solid fa-shower me-4"></i><%="#{listing.bathrooms}"%></p></li>
                <li><p><i class="fa-solid fa-stairs me-4"></i><%="#{listing.floor}"%></p></li>
              </ul>
              <ul class="d-flex flex-column col-6" style="list-style: none; margin: 0px; padding: 0px">
                <li><p><i class="fa-solid fa-house me-4"></i><%="#{listing.property_type}"%></p></li>
                <li><p><i class="fa-solid fa-chair me-4"></i><%="#{listing.furnished ? 'yes' : 'no'}"%></p></li>
                <li><p><i class="fa-solid fa-elevator me-4"></i><%="#{listing.lift ? 'yes' : 'no'}"%></p></li>
                <li><p><i class="fa-solid fa-car me-4"></i><%="#{listing.parking ? 'yes' : 'no'}"%></p></li>
              </ul>
            </div>
            <p class="mt-2"><%= listing.pets ? 'Your pets are welcomed here' : '' %></p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
