<div class="apartment_name mb-4 mt-4">
  <h3><%="#{@listing.address}"%></h3>
</div>
<div class="show_image">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @listing.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%="active" if index == 0%>">
      <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="apartment_information_card mt-4">
  <h3><%="#{@listing.price}"%>.- pcm</h3>
</div>
<div class="d-flex flex-row mt-4">
  <ul class="d-flex flex-column col-6" style="list-style: none; margin: 0px; padding: 0px">
    <li><p><i class="fa-solid fa-bed me-4"></i><%="#{@listing.bedrooms}"%></p></li>
    <li><p><i class="fa-solid fa-shower me-4"></i><%="#{@listing.bathrooms}"%></p></li>
    <li><p><i class="fa-solid fa-square me-4"></i><%="#{@listing.area_size} sqm"%></p></li>
    <li><p><i class="fa-solid fa-stairs me-4"></i><%="#{@listing.floor}"%></p></li>
    <li><p><i class="fa-solid fa-sun me-4"></i><%="#{@listing.balcony}"%></p></li>
  </ul>
  <ul class="d-flex flex-column col-6" style="list-style: none; margin: 0px; padding: 0px">
    <li><p><i class="fa-solid fa-house me-4"></i><%="#{@listing.property_type}"%></p></li>
    <li><p><i class="fa-solid fa-chair me-4"></i><%= @listing.furnished ? "yes" : "no" %></p></li>
    <li><p><i class="fa-solid fa-car me-4"></i><%if "#{@listing.parking}"=="true"%>
    <%="yes"%>
    <%else%>
    <%="no"%>
    <%end%></p></li>
    <li><p><i class="fa-solid fa-tree me-4"></i><%if "#{@listing.garden}"=="true"%>
    <%="yes"%>
    <%else%>
    <%="no"%>
    <%end%></p></li>
    <li><p><i class="fa-solid fa-elevator me-4"></i><%if "#{@listing.lift}"=="true"%>
    <%="yes"%>
    <%else%>
    <%="no"%>
    <%end%></p></li>
  </ul>
</div>
<div class="apartment_information_card mt-4">
  <p><%="#{@listing.description}"%></p>
</div>

<% if current_user.matches.pluck(:listing_id).include? @listing.id %>
<div class="viewing_cta d-flex justify-content-center mt-5">


<button id="booking-button" class="button-primary" style="text-decoration: none !important;" data-bs-toggle="modal" data-bs-target="#exampleModal">
  book a viewing
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'components/booking_form' %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="message_cta d-flex justify-content-center mt-3 mb-3">
  <a class="button-secondary" style="text-decoration: none !important" href="#">message julia</a>
</div>
<% end %>
