<h3 class="section-header">viewings</h3>
<div data-controller="profile-toggle">
  <div class="d-flex justify-content-center">
    <div id="index-toggle" class="button-yes-no d-flex">
      <span
        class="col-6 d-flex justify-content-center button-yes chosen"
        data-action="click->profile-toggle#searches"
        data-profile-toggle-target="searches">
        requests by you
      </span>
      <span
        class="col-6 d-flex justify-content-center button-no"
        data-action="click->profile-toggle#listings"
        data-profile-toggle-target="listings">
        requests for your property
      </span>
    </div>
  </div>
<br>
  <div class="profile-searches-container" data-profile-toggle-target="hidesearches">
    <% if @viewings != []%>
      <h5 class="viewing-subheader">viewing requests</h5>
        <div class="viewings-show-container">
            <div class="show-viewings">
              <% @viewings.each do |item| %>
                <% if item.status == "accepted" %>
                    <div class="show-viewings-card-infos">
                      <p><i class="fa-solid fa-calendar"></i><%= " #{item.date.strftime('%d-%m-%Y')}" %></p>
                      <p><i class="fa-solid fa-clock"></i><%= " #{item.start_time.strftime('%H:%M')}" %></p>
                      <p><i class="fa-sharp fa-solid fa-location-pin"></i> <%= "  #{item.match.listing.address}" %></p>
                      <p><i class="fa-solid fa-circle-question"></i> <%= "  #{item.status}" %></p>
                      <%= link_to "cancel viewing", viewing_path(item), data: { turbo_method: :delete }, class: "button-secondary-small" %>
                    </div>
              <% end %>
                <% end %>
            </div>
      </div>
        <div class="viewings-show-container">
            <div class="show-viewings">
              <% @viewings.each do |item| %>
                <% if item.status == "pending" %>
                    <div class="show-viewings-card-infos">
                      <p><i class="fa-solid fa-calendar"></i><%= " #{item.date.strftime('%d-%m-%Y')}" %></p>
                      <p><i class="fa-solid fa-clock"></i><%= " #{item.start_time.strftime('%H:%M')}" %></p>
                      <p><i class="fa-sharp fa-solid fa-location-pin"></i> <%= "  #{item.match.listing.address}" %></p>
                      <p style="font-weight: bold; color: $white;"><i class="fa-solid fa-circle-question"></i> <%= "  #{item.status}" %></p>
                      <%= link_to "cancel request", viewing_path(item), data: { turbo_method: :delete }, class: "button-secondary-small" %>
                    </div>
                    <% end %>
                    <% end %>
            </div>
      </div>
      <% else %>
          <div class="no-current-listings">
              <p>you have no viewings booked.</p>
          </div>
    <% end %>
  </div>

  <div class="profile-listings-container hide-element" data-profile-toggle-target="hidelistings">
    <h5 class="viewing-subheader">viewing requests</h5>
    <% if @viewings != []%>
      <div class="profile-listings">
        <% @viewings.each do |item| %>
          <% if item.status == "pending" && item.match.listing.user == current_user %>
            <div class="show-viewings-card-infos">
                  <p><i class="fa-solid fa-calendar"></i><%= " #{item.date.strftime('%d-%m-%Y')}" %></p>
                  <p><i class="fa-solid fa-clock"></i><%= " #{item.start_time.strftime('%H:%M')}" %></p>
                  <p><i class="fa-sharp fa-solid fa-location-pin"></i> <%= "  #{item.match.listing.address}" %></p>
                  <p style="font-weight: bold; color: $white;"><i class="fa-solid fa-circle-question"></i> <%= "  #{item.status}" %></p>
                  <div class="viewing-card-decide">
                    <%= link_to "accept booking", accept_booking_path(item), data: { turbo_method: :patch }, class: "button-secondary-small", id:"accept-booking" %>
                    <%= link_to "reject booking", decline_booking_path(item), data: { turbo_method: :patch }, class: "button-secondary-small" %>
                  </div>
            </div>
            <% elsif item.status == "accepted" && item.match.listing.user == current_user %>
            <div class="show-viewings-card-infos">
                  <p><i class="fa-solid fa-calendar"></i><%= " #{item.date.strftime('%d-%m-%Y')}" %></p>
                  <p><i class="fa-solid fa-clock"></i><%= " #{item.start_time.strftime('%H:%M')}" %></p>
                  <p><i class="fa-sharp fa-solid fa-location-pin"></i> <%= "  #{item.match.listing.address}" %></p>
                  <p><i class="fa-solid fa-circle-question"></i> <%= "  #{item.status}" %></p>
                  <div class="viewing-card-decide">
                    <%= link_to "cancel request", viewing_path(item), data: { turbo_method: :delete }, class: "button-secondary-small" %>
                  </div>
            </div>
            <% end  %>
          <% end  %>
          </div>
      <% else  %>
            <div class="no-current-listings">
              <p>you have no requests yet.</p>
            </div>
          <% end %>
  </div>
</div>
