<div class="header">
</div>
  <h3>edit search</h3>
<%= simple_form_for(@search) do |f| %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :property_type %>
  <%= f.input :area_size %>
  <%= f.input :bedrooms %>
  <%= f.input :bathrooms %>
  <%= f.input :floor %>
  <%= f.input :balcony %>
  <%= f.input :garden %>
  <%= f.input :parking %>
  <%= f.input :lift %>
  <%= f.input :furnished %>
  <%= f.input :pets %>
  <%= f.button :submit, "update search", class:"button-primary d-flex justify-content-center" %>
<% end %>
  <%= link_to "delete", listings_path, class: "button-secondary d-flex justify-content-center" %>
