<h3>new search</h3>
<%= simple_form_for(@search) do |f| %>
  <div class="range-wrapper" data-controller="output">
  <%= f.input :price, as: :range, input_html: { min: 0, max: 10000, value: 0, data: {action: "input->output#change"}}, wrapper_html: { class: "range-input-wrapper" } %>
  <output data-output-target="output">0</output>
  </div>
  <%= f.input :address, label: "Location" %>
  <%= f.input :property_type %>
  <%= f.input :area_size %>
  <%= f.input :bedrooms %>
  <%= f.input :bathrooms %>
  <%= f.input :floor %>
  <%= f.input :balcony %>
  <%= f.input :garden %>
  <%= f.input :parking %>
  <%= f.input :lift %>
  <%= f.input :furnished %>
  <%= f.input :pets %>
  <%= f.button :submit, "create search", class:"button-primary d-flex justify-content-center" %>
<% end %>
  