<div class="page-header mb-5">
  <h3>chats</h3>
</div>
<div class="all-chats d-flex flex-column">
    <% @matches.each do |match| %>
      <div class="chat-card">

          <%= link_to match_path(match.id), class:"chat-link" do %>
            <% if match.listing.user.profile_photo.attached? %>
                <div class="chat-image">
                  <img src="<%=cl_image_path match.listing.user.profile_photo.key%>" class="avatar-large mb-0" />
                </div>
                <div class="chat-card-content">
                  <h3><%=match.listing.user.first_name.downcase%></h3>
                  <% if match.messages.empty? %>
                    <p>start a new chat</p>
                  <% elsif match.messages.last.content.length > 30 %>
                    <p><%=match.messages.last.content[0..30]%>...</p>
                  <% else %>
                    <p><%=match.messages.last.content%></p>
                  <% end %>
                </div>
            <% elsif !match.listing.user.profile_photo.attached? %>
                <div class="chat-image">
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="avatar-large mb-0" />
                </div>
                <div class="chat-card-content">
                  <h3><%=match.listing.user.first_name.downcase%></h3>
                  <% if match.messages.empty? %>
                    <p>start a new chat</p>
                  <% elsif match.messages.last.content.length > 30 %>
                    <p><%=match.messages.last.content[0..30]%>...</p>
                  <% else %>
                    <p><%=match.messages.last.content%></p>
                  <% end %>
                </div>
            <% else %>
              <div class="no-current-matches">
                <p>you have no current matches.</p>
              </div>
            <% end %>
          <% end %>

      </div>
    <%end%>

  <div class="chat_divider mt-5">
  <% if @listing_matches.present? %>
    <h3>as host</h3>
    <% end %>
  </div>
    <% @listing_matches.each do |match| %>
      <div class="chat-card">
        <%= link_to match_path(match.id), class:"chat-link" do %>
          <%if match.search.user.profile_photo.attached? %>
              <div class="chat-image">
                <img src="<%=cl_image_path match.search.user.profile_photo.key%>" class="avatar-large mb-0" />
              </div>
              <div class="chat-card-content">
                <h3><%=match.search.user.first_name.downcase%></h3>
                <% if match.messages.empty? %>
                  <p>start a new chat</p>
                <% elsif match.messages.last.content.length > 30 %>
                  <p><%=match.messages.last.content[0..30]%>...</p>
                <% else %>
                  <p><%=match.messages.last.content%></p>
                <% end %>
              </div>
          <% elsif !match.search.user.profile_photo.attached? %>
              <div class="chat-image">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="avatar-large mb-0" />
              </div>
              <div class="chat-card-content">
                <h3><%=match.search.user.first_name.downcase%></h3>
                <% if match.messages.empty? %>
                  <p>start a new chat</p>
                <% elsif match.messages.last.content.length > 30 %>
                  <p><%=match.messages.last.content[0..30]%>...</p>
                <% else %>
                  <p><%=match.messages.last.content%></p>
                <% end %>
              </div>
          <% else %>
            <div class="no-current-matches">
              <p>you have no current matches.</p>
            </div>
          <% end %>
        <%end%>
      </div>
    <%end%>
</div>
