<!DOCTYPE html>
<html>
  <head>
    <title>Homify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'components/header', search: params[:search] %>
    <div class="container <%= "chat_container" if action_name == "show" && controller_name == "matches" %>">
      <%= yield %>
    </div>
    <%= render 'components/navbar' %>
    <%= render "shared/flashes" %>
  </body>
</html>
